{
  "name": "kube",
  "description": "A plugin to manage spin apps",
  "homepage": "https://github.com/spinkube/spin-plugin-kube",
  "version": "{{ Version }}",
  "spinCompatibility": ">=2.3.1",
  "license": "Apache-2.0",
  "packages": [
    {
      "os": "linux",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/spinkube/spin-plugin-kube/releases/download/{{ TagName }}/spin-plugin-kube-{{ Version }}-linux-amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "linux",
      "arch": "aarch64",
      {{#addURLAndSha}}https://github.com/spinkube/spin-plugin-kube/releases/download/{{ TagName }}/spin-plugin-kube-{{ Version }}-linux-arm64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "macos",
      "arch": "aarch64",
      {{#addURLAndSha}}https://github.com/spinkube/spin-plugin-kube/releases/download/{{ TagName }}/spin-plugin-kube-{{ Version }}-darwin-arm64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "macos",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/spinkube/spin-plugin-kube/releases/download/{{ TagName }}/spin-plugin-kube-{{ Version }}-darwin-amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "windows",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/spinkube/spin-plugin-kube/releases/download/{{ TagName }}/spin-plugin-kube-{{ Version }}-windows-amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "windows",
      "arch": "aarch64",
      {{#addURLAndSha}}https://github.com/spinkube/spin-plugin-kube/releases/download/{{ TagName }}/spin-plugin-kube-{{ Version }}-windows-arm64.tar.gz{{/addURLAndSha}}
    }
  ]
}
